.page{
    color: black;
    padding:10px;
}

.city{
    text-align: right;
}
.country{
    text-align: right;
 }
.page img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.bold{
    border-radius: 2px;
    border-bottom: black 2px solid;
    font-weight: bold;
    font-size: 20px;
}