.app-writer {
    margin: 0 auto;
    display: grid;

    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}

.app-writer-body {
    background: linear-gradient(270deg, rgba(0, 97, 211, 1) 10%, rgba(0, 255, 239, 1) 100%);
    
    min-height:100vh;
}

.app-wrapper .app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;
}
